<h1>Student list</h1>
<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Major</th>
    </tr>
  </thead>
  <tbody>
    @for( student of students; track student){
      <td>{{student.name}}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.gender }}</td>
      <td>{{student.major}}</td>
    }
  </tbody>
</table>
<button type="button" (click)="toggleJson()">JSON format</button>

<div *ngIf="showJson">
  <h2>JSON format</h2>
  <pre>{{students}}</pre>
</div>